@import '../../mixins';
@import '../../variables';

.card {
    margin-bottom: 30px;
}

.new {
    min-height: 75vh;
    font-family: sans-serif;
    color: #283e4a;
    .title {
        font-size: 36px;
        margin-bottom: 15px;
        text-align: center;
        font-weight: bold;
    }
    .published {
        margin: 15px 0;
    }
    .icons {
        display: flex;
        justify-content: space-between;
        &>div {
            display: inline-flex;
        }
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            margin: 0 10px 10px 0;
            border-radius: 50%;
            cursor: pointer;
            @include transition(.3s);
            i {
                display: block;
                font-size: 24px;
                color: white;
            }
            &:hover {
                opacity: .7;
            }
        }
        .icon--facebook {
            background: rgb(34, 99, 159);
        }
        .icon--twitter {
            background: rgb(0, 172, 223);
        }
        .icon--email {
            background: rgb(249, 34, 34);
        }
        // author
        .author {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            color: rgb(249, 34, 34);
            letter-spacing: 1.7px;
            text-decoration: none;
            @include transition(.5s);
            &:hover .info__bg{
                width: 100% !important;
            }
            &:hover {
                color: white;
            }
            * {
                display: block;
            }
            &>* {
                height: 100%;
                padding: 0 10px;
            }
            i {
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: 26px;
                color: white;
                background: rgb(34, 99, 159);
            }
            .author__info {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .info__bg {
                    width: 0;
                    z-index: 0;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgb(34, 99, 159);
                    @include transition(.3s);
                }
                & *:not(.info__bg) {
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }
    .img {
        height: 600px;
        overflow: hidden;
        .img__yes {}
        .img__not {
            display: block;
            height: auto;
            width: auto;
            max-height: 100%;
            max-width: 100%;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-size: cover;
            background-position: center;
        }
    }
    .description {
        margin: 15px 0 0 0;
        font-size: 19px;
        line-height: 28px;
    }
}

@media (max-width: 575.98px) {
    .new {
        .title {
            font-size: 22px;
        }
        .icons {
            .icon {
                width: 40px;
                height: 40px;
                i {
                    font-size: 18px;
                }
            }
        }
        .img {
            height: 300px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .new {
        .title {
            font-size: 26px;
        }
        .icons {
            .icon {
                width: 45px;
                height: 45px;
                i {
                    font-size: 20px;
                }
            }
        }
        .img {
            height: 350px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .new {
        .title {
            font-size: 28px;
        }
        .icons {
            .icon {
                width: 45px;
                height: 45px;
                i {
                    font-size: 20px;
                }
            }
        }
        .img {
            height: 400px;
        }
    }
}
