@import "../variables.scss";
@import "../mixins.scss";

.header {
    background: rgb(40, 62, 74);
    padding: 15px 0;
    margin-bottom: 50px;
    .logo {
        color: $grey;
        font-size: 28px;
        font-weight: bold;
        &:hover {
            text-decoration: none;
        }
    }
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        .item {
            display: block;
            margin: 0 15px;
            color: $grey;
            font-size: 24px;
            font-weight: bold;
            @include transition(.5s);
            &:hover {
                text-decoration: none;
                color: white;
            }
        }
        .item--active {
            color: white;
        }
    }
    .nowTime {
        font-size: 24px;
        color: $grey;
        font-weight: bold;
    }
}