<header class="header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
          <a [routerLink]="['/home']" class="logo" (click)="reload()">
            <img src="../assets/logo.png" width="150px" alt="Weather">
          </a>
      </div>
      <div class="col">
        <nav class="nav">
          <a [routerLink]="['/home']" routerLinkActive="item--active" class="item">Головна</a>
          <a [routerLink]="['/news']" routerLinkActive="item--active" class="item">Новини</a>
        </nav>
      </div>
      <div class="col-auto">
        <div class="nowTime"><i class="fa fa-clock-o" aria-hidden="true"></i> {{time}}</div>
      </div>
    </div>
  </div>
</header>