@import "../variables.scss";
@import "../mixins.scss";

.bg-theme {
    background: $bg-theme;
}

.bg-theme-navBtn {
    background: $bg-theme-navBtn;
}

.header {
    padding-bottom: 80px;
    // --- navbar --- //
    .navbar {
        & li:not(.active):hover a {
            color: rgba(192, 192, 192, .8) !important;
        }
        & a {
            color: white !important;
        }
        & .active {
            color: white !important;
            background: rgba(192, 192, 192, .2);
        }
    }
    // --- dropdown --- //
    .dropdown {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
        i {
            font-size: 24px;
            padding: 5px 15px;
            border-radius: 50%;
            cursor: pointer;
            @include transition(.3s);
            &:hover {
                background: rgba(192, 192, 192, .4);
            }
        }
        .dropdown-menu * {
            cursor: pointer;
            color: black !important;
            &:hover {
                background: $bg-theme !important;
                color: $color-theme !important;
            }
        }
        .lang-active {
            background: $bg-theme !important;
            color: $color-theme !important;
        }
    }
}