<div class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col col-sm-auto">
        <div class="contact">
          <div class="contact__title">Зв’яжіться з нами</div>
          <div class="contact__icons">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            <i class="fa fa-youtube-square" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col col-sm-auto">
        <a href="https://home.openweathermap.org" target="_blank" class="link">Метеорологічний інтерфейс API</a>
      </div>
      <div class="col col-sm-auto">
        <div class="copyright">&copy; 2017 Weather</div>
      </div>
    </div>
  </div>
</div>
