<div class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col col-sm-auto">
        <div class="contact">
          <div class="contact__title">Зв’яжіться з нами</div>
          <div class="contact__icons">
            <a href="https://www.facebook.com/search/top/?q=weather" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://twitter.com/weatherchannel" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="https://chrome.google.com/webstore/search/weather" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/user/TheWeatherChannel/" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col col-sm-auto">
        <div><a href="https://home.openweathermap.org" target="_blank" class="link">Метеорологічний інтерфейс API</a></div>
        <div><a href="https://newsapi.org/" target="_blank" class="link">Новини API</a></div>
      </div>
      <div class="col col-sm-auto">
        <div class="copyright">&copy; 2018 Weather</div>
      </div>
    </div>
  </div>
</div>
