@import '../../scss/utils/variables'; 
@import '../../scss/utils/mixins';

.block {
  background: white;
  border: 1px solid $grey;
  padding: 20px 15px;
  margin-bottom: 20px;
  overflow: hidden;

  -webkit-box-shadow: 0px 0px 20px 0px rgba(203,203,203,1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(203,203,203,1);
  box-shadow: 0px 0px 20px 0px rgba(203,203,203,1);
}

input {
    cursor: pointer;
}

.search {
    // --- card --- //
    .card {
        .cart-myTitle {
            width: 90%;
            margin: 0 auto;
            padding: 15px;
            position: relative;
            top: -20px;
            background: $bg-theme;
            color: white;
            text-align: center;
            font-size: 24px;
        }
    }
    form {
        text-align: left !important;
        button {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            background: $bg-theme;
            color: $color-theme;
            &:hover {
                background: $bg-theme-hover;
            }
        }
    }
}

button{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.43px;
    &:disabled{
        background: #9b9b9b;
        color:white;
        border-color:#9b9b9b;
        &:hover{
            cursor: not-allowed;
        }
    }
    &:hover{
        cursor: pointer;
    }
}

.required {
    position: relative;
    .required__symbol {
        position: absolute;
        top: 7px;
        right: 35px;
        font-size: 22px;
    }
}

.btn-primary:disabled {
    background: #9b9b9b;
    color:white;
    border-color:#9b9b9b;
}

    .hour {
    display: inline-block;
    border: 1px solid black;
    margin: 15px;
    padding: 15px;
}

.datalist {
    height:50px !important;
    max-height:80px !important;
    overflow-y:auto;
    //display:block !important;
}