<div class="search">
   
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="card">
          <div class="cart-myTitle">
            <i class="fa fa-search" aria-hidden="true"></i>
            Search:
          </div>
          <div class="card-body">
            <form #search="ngForm" class="was-validated justify-content-center" enctype="multipart/form-data">
              <div class="form-group">
                <label for="country">Country</label>
                <div class="required">
                  <input
                    type="text"
                    name="country"
                    list="countries"
                    id="country"
                    class="form-control"
                    placeholder="Country"
                    (ngModelChange)="searchCity=''; cities.length = 0"
                    [(ngModel)]="searchCountry"
                    #searchCountryV="ngModel"
                    pattern="^([a-zA-Z\s])+$"
                    (blur)="getCityList()"
                    required/>
                  <div class="required__symbol">*</div>
                </div>

                <div *ngIf="(searchCountryV.touched || searchCountryV.dirty) && searchCountryV.errors">
                  <div style="color:red;" *ngIf="searchCountryV.errors.required">Поле є обов'язковим</div>
                  <div style="color:red;" *ngIf="searchCountryV.errors.pattern">Будь ласка вводьте символи з <b><a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D1%82%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_%D0%B0%D0%BB%D1%84%D0%B0%D0%B2%D0%B8%D1%82" target="_blank">"Латинського алфавіту"</a></b></div>
                </div>

                <!-- <div class="alert alert-danger" *ngIf="(searchCountryV.touched || searchCountryV.dirty) && searchCountryV.errors">
                  <span *ngIf="searchCountryV.errors.required">Поле є обов'язковим</span>
                  <span *ngIf="searchCountryV.errors.pattern">Будь ласка вводьте символи з <b><a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D1%82%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_%D0%B0%D0%BB%D1%84%D0%B0%D0%B2%D0%B8%D1%82" target="_blank">"Латинського алфавіту"</a></b></span>
                </div> -->
                <datalist id="countries" class="datalist">
                    <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                </datalist>
              </div>
    
              <div class="form-group">
                <label for="country">Cities <i class="fa fa-cog fa-spin" *ngIf="cities.length === 0" aria-hidden="true" style="font-size:24px"></i></label>
                <div class="required">
                  <input
                    type="text"
                    name="searchCity"
                    [readonly]="cities.length === 0"
                    list="cities"
                    id="searchCity"
                    class="form-control"
                    placeholder="City"
                    [(ngModel)]="searchCity" 
                    #searchCityV="ngModel"
                    pattern="^([a-zA-Z\s])+$"
                    required/>
                  <div class="required__symbol">*</div>
                </div>
                <div *ngIf="(searchCityV.touched || searchCityV.dirty) && searchCityV.errors">
                  <span style="color:red;" *ngIf="searchCityV.errors.required">Поле є обов'язковим</span>
                  <span style="color:red;" *ngIf="searchCityV.errors.pattern">Будь ласка вводьте символи з <b><a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D1%82%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_%D0%B0%D0%BB%D1%84%D0%B0%D0%B2%D0%B8%D1%82" target="_blank">"Латинського алфавіту"</a></b></span>
                </div>
                <!-- <div class="alert alert-danger" *ngIf="(searchCityV.touched || searchCityV.dirty) && searchCityV.errors">
                  <span *ngIf="searchCityV.errors.required">Поле є обов'язковим</span>
                  <span *ngIf="searchCityV.errors.pattern">Будь ласка вводьте символи з <b><a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D1%82%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_%D0%B0%D0%BB%D1%84%D0%B0%D0%B2%D0%B8%D1%82" target="_blank">"Латинського алфавіту"</a></b></span>
                </div> -->
                <datalist id="cities" class="datalist">
                    <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
                </datalist>
              </div>
              <button type="button" (click)="onSearch($event)" [disabled]="!search.form.valid" class="btn">Save</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col">
        <app-current-day [search]="{searchCity: searchCity, countryCode: countryCode}"></app-current-day>
    </div>
    </div>
  </div>

  <app-five-days [search]="{searchCity: searchCity, countryCode: countryCode}"></app-five-days>
  
</div>