<!-- Weather on 5 days -->
<div class="container">
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- Not data -->
          <div class="notData" *ngIf="errorRes">
            <img src="./../../assets/images/not_data.png" class="notData__img" alt="">
            <div class="notData__text">{{noResponse.message}}</div>
          </div>
          <!-- Spinner -->
          <app-spinner *ngIf="!errorRes && !someDays" class="spinnerCenter"></app-spinner>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="title" *ngIf="!errorRes">{{someDays.title}} {{city}}</div>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="!errorRes">
        <div class="col-sm-2 day" *ngFor="let day of arrDays" [hidden]="!day.list.length" [ngClass]="{'day__active': day.date.active}" (click)="onIndexDay(day.date.id)">
          <div class="day__name">{{day.date.day}}</div>
          <div class="day__number">{{day.date.number}}</div>
          <div class="day__month">{{day.date.month}}</div>
        </div>
      </div>
      <div class="row" *ngIf="!errorRes" style="overflow: auto">
        <div class="col-12 content">
          <table class="table" *ngIf="arrDays[indexDay].list">
            <tr>
              <td></td>
              <td class="table__time" *ngFor="let obj of arrDays[indexDay].list">{{obj.time}}</td>
            </tr>
            <tr>
              <td>{{someDays.weather_characteristics}}</td>
              <td *ngFor="let obj of arrDays[indexDay].list"><img src="https://openweathermap.org/img/w/{{obj.weather[0].icon}}.png" alt="">
              <div>{{obj.weather[0].description}}</div></td>
            </tr>
            <tr>
              <td>{{someDays.temperature}}, &deg;С</td>
              <td class="table__temp" *ngFor="let obj of arrDays[indexDay].list">{{obj.main.temp}}&deg;</td>
            </tr>
            <tr>
              <td>{{someDays.pressure}}</td>
              <td *ngFor="let obj of arrDays[indexDay].list">{{obj.main.pressure}}</td>
            </tr>
            <tr>
              <td>{{someDays.humidity}}</td>
              <td *ngFor="let obj of arrDays[indexDay].list">{{obj.main.humidity}}</td>
            </tr>
            <tr>
              <td>{{someDays.wind}}</td>
              <td *ngFor="let obj of arrDays[indexDay].list">{{obj.wind.speed}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  
<!-- Chart -->
<div class="container" *ngIf="lineChartData">
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- Not data -->
          <div class="notData" *ngIf="errorRes">
            <img src="./../../assets/images/not_data.png" class="notData__img" alt="">
            <div class="notData__text">{{noResponse.message}}</div>
          </div>
          <!-- Spinner -->
          <app-spinner *ngIf="!errorRes && !lineChartData" class="spinnerCenter"></app-spinner>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="title" *ngIf="!errorRes">{{chartWords.title}}</div>
        </div>
      </div>
      <div class="row" *ngIf="!errorRes">
        <div class="col">
            <canvas
                baseChart
                [data]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>
      </div>
    </div>
  </div>
</div>