@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.modal-message {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.modal-img {
    display: block;
    margin: 0 auto;
}

.myBtn {
    position: fixed;
    top: 15%;
    right: 2%;
    cursor: pointer;
    -webkit-animation: mymove linear 1s infinite alternate;
    -moz-animation: mymove linear 1s infinite alternate;
    -o-animation: mymove linear 1s infinite alternate;
    animation: mymove linear 1s infinite alternate;
    &:hover {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
    }
    img {
        height: 70px;
        width: auto;
        max-width: 100%;
    }
}

/* Standard syntax */
@keyframes mymove {
    from {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(-20deg);
    }
}

@-webkit-keyframes mymove {
    from {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(-20deg);
    }
}

@-moz-keyframes mymove {
    from {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(-20deg);
    }
}

@-o-keyframes mymove {
    from {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(-20deg);
    }
}

// --- media --- //
@media (max-width: 575.98px) {
    .myBtn {
        top: 8%;
        img {
            height: 50px;
            width: auto;
            max-width: 100%;
        }
    }
}

// --- media --- //
@media (min-width: 576px) and (max-width: 767.98px) {
    .myBtn {
        top: 8%;
        right: 3%;
        img {
            height: 55px;
            width: auto;
            max-width: 100%;
        }
    }
}

// --- media --- //
@media (min-width: 768px) and (max-width: 991.98px) {
    .myBtn {
        top: 10%;
        right: 2%;
        img {
            height: 60px;
            width: auto;
            max-width: 100%;
        }
    }
}