@import '../../variables';
@import '../../mixins';


.title {
  @extend .title;
}

.spinnerCenter {
  display: inline-block;
  margin: 0 auto;
}

// NOT data
.notData {
  .notData__img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
  .notData__text {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
}

// --- card --- //
.card {
  text-align: center;
  color: BLACK;
  font-family: sans-serif;
}

// --- date --- //
.date {
  text-align: left;
  .date__city {
    font-size: 30px;
  }
}

// --- weather --- //
.weather {
  text-align: center;
  &>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .weather__icon {
    width: 200px;
    height: auto;
  }
  .weather__temp {
    font-size: 100px;
  }
}



@media (max-width: 575.98px) {
  .weather {
    .weather__icon {
      width: 100px;
    }
    .weather__temp {
      font-size: 50px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .weather {
    .weather__icon {
      width: 130px;
    }
    .weather__temp {
      font-size: 70px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .weather {
    .weather__icon {
      width: 150px;
    }
    .weather__temp {
      font-size: 80px;
    }
  }
}