<div class="card">
  <!-- Not data -->
  <div class="card-body" *ngIf="errorRes">
    <div class="notData">
      <img src="./../../assets/not_data.png" class="notData__img" alt="">
      <div class="notData__text">Результатів не знайдено</div>
    </div>
  </div>
  <div class="card-body" *ngIf="!errorRes">
    <div class="date">
      <div class="title" style="text-align: left;">
        {{currentDay_city}}
      </div>
      <div>
        <span>{{currentDay_day}}</span>
        <span>{{currentDay_date}}</span>
        <span>{{currentDay_month}}</span>
        <span>{{currentDay_year}}</span>
      </div>
    </div>
    <div class="row weather">
      <div class="col-6">
        <img [src]="currentDay_img" class="weather__icon" alt="">
      </div>
      <div class="col-6">
        <div class="weather__temp">{{currentDay_temp}}&deg;</div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-lg-3">
        <div>{{dictionaryDay.max}} {{currentDay_max_temp}}&deg;</div>
        <div>{{dictionaryDay.min}} {{currentDay_min_temp}}&deg;</div>
      </div>
      <div class="col-6 col-lg-3">
        <div>{{dictionaryDay.pressure}}</div>
        <div>{{currentDay_pressure}} мм</div>
      </div>
      <div class="col-6 col-lg-3">
        <div>{{dictionaryDay.humidity}}</div>
        <div>{{currentDay_humidity}} %</div>
      </div>
      <div class="col-6 col-lg-3">
        <div>{{dictionaryDay.wind}}</div>
        <div>{{currentDay_wind}} м/сек</div>
      </div>
    </div>
  </div>
</div>