<section class="news">
  <div class="container">

    <div class="row">
      <div class="col">
        <div class="card mySearch">
          <div class="mySearch__title">
              <i class="fa fa-search" aria-hidden="true"></i>
              Search:
          </div>
          <form #myForm="ngForm">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Країна</label>
                    <select name="searchCountry" class="custom-select" [(ngModel)]="searchCountry" (ngModelChange)="changeSearch()">
                        <option *ngFor="let obj of countries" [value]="obj.en">{{obj.ua}}</option>
                      </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Категорія</label>
                    <select name="searchCategory" class="custom-select" [(ngModel)]="searchCategory" (ngModelChange)="changeSearch()">
                        <option *ngFor="let obj of categories" [value]="obj.en">{{obj.ua}}</option>
                      </select>
                  </div>
                </div>
                <div class="col">
                  <div class="title">Новини</div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Spinner -->
    <app-spinner *ngIf="!news"></app-spinner>

    <div class="row" *ngIf="news && news.articles">
     <div class="col-lg-6" *ngFor="let obj of news.articles" (click)="currentNew(obj)">
        <div class="card myCard" *ngIf="obj.page == numberPage">
            <div class="myCard__img">
              <div class="myCard__yesImg" *ngIf="obj.urlToImage" [ngStyle]="{
                'background-image': 'url(' + obj.urlToImage + ')',
                'height': '100%',
                'width': '100%',
                'background-size': 'cover',
                'background-position': 'center'}"></div>
              <img *ngIf="!obj.urlToImage" class="myCard__notImg" src="../assets/not_data.png" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{obj.title}}</h5>
              <p class="card-text text-muted">{{obj.publishedAt | date:'fullDate'}}</p>
              <p class="card-text">{{obj.description}}</p>
              <button class="btn btn-primary myCard__btn">More</button>
            </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="news && news.articles">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item">
              <a class="page-link" aria-label="Previous" (click)="changePage('-1')">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <div *ngFor="let page of countPages">
              <li class="page-item" [ngClass]="{'active': page === numberPage}" (click)="changePage(page)"><a class="page-link">{{page}}</a></li>
            </div>
            <li class="page-item">
              <a class="page-link" aria-label="Next" (click)="changePage('+1')">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>