@import '../mixins';
@import '../variables';

// news
.news {
    height: 100%;
    min-height: 80vh;

    .mySearch {
        position: relative;
        .mySearch__title {
            display: inline-block;
            margin: 0 auto;
            padding: 15px 50px;
            position: relative;
            top: -20px;
            background: $bg-theme;
            color: white;
            text-align: center;
            font-size: 24px;
        }
        form {
            text-align: left;
            select, input {
                cursor: pointer;
            }
        }
    }

    .title {
        @extend .title;
    }

}

.card {
    margin-bottom: 30px;
    text-align: left;
}

// --- myCard --- //
.myCard {
    cursor: pointer;
    @include transition(.3s);
    &:hover .card-title{
        color: $bg-theme;
    }
    .myCard__img {
        height: 350px;
        overflow: hidden;
        .myCard__notImg {
            display: block;
            height: auto;
            width: auto;
            max-height: 100%;
            max-width: 100%;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-size: cover;
            background-position: center;
        }
    }
    .myCard__btn {
        background: $bg-theme;
        border: none;
        &:hover {
            background: $bg-theme-hover;
        }
    }
}

// --- pagination --- //
.pagination {
    display: flex;
    flex-wrap: wrap;
    .active a{
        background: $bg-theme !important;
        border-color: $bg-theme !important;
        color: $color-theme !important;
    }
}